<div class="row">

	<div class="col-md-6">
	    <div class="panel panel-primary">
	        <div class="panel-heading">Slot-Management</div>
	        <div class="panel-body">
	            <%= render partial: 'slot_management_form' %>
	        </div>
	    </div>
	</div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Slot-Vorschau</div>
            <div class="panel-body">
                <%= render partial: 'slot_preview' %>
            </div>
        </div>
    </div>

</div>