<div class="col-md-8">
  <div class="panel panel-primary">
    <div class="panel-heading">Neue Schülerdaten erfassen</div>
    <div class="panel-body">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>