<div class="row">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Verfügbarkeiten voreinstellen</div>
            <div class="panel-body">

                <%= simple_form_for  :reservation_simulator, url: '/availability_preset/execute',
                                     wrapper: :horizontal_form,
                                     html: { class: 'form-horizontal' } do |f| %>

                  <%= f.button :submit, 'Verfügbarkeiten voreinstellen', name: 'simulate_all', class: 'btn btn-warning' %>

                <% end %>

            </div>
            </div>
        </div>
    </div>

</div>