<div class="row">

    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Lehrer-Import Management</div>
            <div class="panel-body">
                <%= render partial: 'teacher_import_management_form' %>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Lehrer-Import Preview</div>
            <div class="panel-body">
                <%= render partial: 'teacher_import_preview' %>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">Aktuelle Lehrerliste</div>
            <div class="panel-body">
                <%= render partial: 'teacher_list' %>
            </div>
        </div>
    </div>

</div>