<div class="col-md-8">
  <div class="panel panel-primary">
    <div class="panel-heading">Bitte melden Sie sich mit Email und Passwort für den entsprechenden Event an!</div>
    <div class="panel-body">
      <%= render partial: 'login_form', layout: 'login_form' %>
    </div>
  </div>
</div>
